<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bansach">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroActivity"></activity>
        <activity android:name=".User.MyUserActivity" />
        <activity android:name=".Book.EditBookActivity" />
        <activity android:name=".Category.EditCategoryActivity" />
        <activity android:name=".Statistics.StatisticsActivity" />
        <activity android:name=".BestSeller.BestSellerActivity" />
        <activity android:name=".Bill.BillDetailActivity" />
        <activity android:name=".Bill.BillActivity" />
        <activity android:name=".Bill.ListBillActivity" />
        <activity android:name=".Book.ListBookActivity" />
        <activity android:name=".Book.AddBookActivity" />
        <activity android:name=".Category.AddCategoryActivity" />
        <activity android:name=".Category.ListCategoryActivity" />
        <activity android:name=".User.EditUserActivity" />
        <activity android:name=".Account.SignInActivity" />
        <activity android:name=".User.ListUserActivity" />
        <activity android:name=".Account.ChangePasswordActivity" />
        <activity android:name=".Account.LogInActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Hello">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>